:root {
  --main-green: #30DB87;
  --main-text: #313A59;
  --info-primary: #d6d6d6;
  --info-secondary: #8a8a8a;
  --nav-bg: #313A59;
  --shadow-color: #a9a9a9;
  --footer-bg: #27304B;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
  padding-top: 75px;
  color: var(--main-text);
}

button, input, textarea {
  font-family: inherit
}

.bold {
  font-weight: 600;
}

.divider {
  height: 1px;
  background: #545454;
}

.btn--group {
  display: flex;
}

.btn {
  letter-spacing: .5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  color: var(--main-text);
  background: none;
  border: none;
  height: 35px;
  font-weight: bold;
}

.btn--small {
  height: 20px;
  width: 60px;
}

.btn--big {
  height: 50px;
  min-width: 150px;
}

.btn--primary {
  background: var(--main-green);
  text-transform: uppercase;
  color: #fff;
}

.btn-secondary {
  background: var(--main-text);
  color: #fff;
}

.btn--bordered-base {
  border: 1px solid #dadada;
}

.btn--bordered-primary {
  border: 1px solid var(--main-green);
}

.btn--bordered-secondary {
  border: 1px solid var(--main-text);
}

.btn--shadow {
  box-shadow: 0 5px 30px 0 var(--shadow-color);
}

.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form__title {
  color: var(--main-green);
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 30px;
}

.label {
  font-weight: 600;
  margin-bottom: 3px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

.input:focus {
  outline-color: var(--main-green);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.header {
  padding: 10px 0;
  background: var(--nav-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 3px 3px #313a5896;
}

.nav {
  display: flex;
  will-change: transform;
  transition: transform 250ms;
}

.nav--open {
  transform: translateX(0%) !important;
}

.nav__brand {
  font-size: 24px !important;
}

.nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 3;
}

.nav__menu .divider {
  display: none;
}

.nav__item {
  position: relative;
  margin-left: 15px;
}

.nav__item--hidden-md {
  display: none;
}

.nav__item:first-of-type {
  margin: 0;
}

.nav__item:nth-of-type(2) {
  margin-left: auto;
}

.nav__link {
  display: block;
  color: #fff;
  cursor: pointer;
  padding: 15px 10px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.nav--toggler {
  background: none;
  border: none;
  outline: 0;
}

.nav__title {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-green);
}

.nav__signup {
  display: none;
  background: #fff;
  position: absolute;
  width: 350px;
  right: 28px;
  bottom: -365px;
  border-left: 5px solid var(--main-green);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
}

.nav__signup::before {
  content: '';
  position: absolute;
  top: -15px;
  right: 5px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--main-green);
}

.form__signup input:last-of-type {
  margin-bottom: 30px;
}

.form__signup .btn--group .btn:first-child {
  flex: 2;
  margin-right: 1rem;
}

.form__signup .btn--group .btn:last-child {
  flex: 1;
}

.nav__menu .nav__title:not(.nav__brand)::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: calc(50% - 5px);
  height: 3px;
  width: 10px;
  background: var(--main-green);
}

.nav__menu__fill {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.main {
  display: flex;
  padding: 10% 0;
}

.main .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 60px;
  max-width: 600px;
  text-shadow: 1px 1px 1px #313a5885;
}

.main__body {
  line-height: 2;
  letter-spacing: .5px;
  margin-bottom: 80px;
  max-width: 500px
}

.main .btn--group {
  margin-bottom: 30px;
}

.main .btn--primary {
  margin-right: 30px;
}

.section {
  background: #dbf5ef;
  padding: 150px 0;
}

.card {
  display: flex;
  flex-flow: column wrap;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 10px solid var(--main-green);
  background: #fff;
  opacity: 0;
  flex: 1;
  padding: 50px 40px;
  box-shadow: 0 10px 30px var(--shadow-color);
}

.card:nth-child(2) {
  margin: 0 2rem;
}

.section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__img__container {
  flex-basis: 132px;
  height: 132px;
  align-self: center;
  border: 1px solid var(--main-green);
  padding: 10px;
  border-radius: 10px;
}

.card__img {
  display: block;
  background: rgba(169, 255, 188, 0.25);
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.card__title {
  text-align: center;
  margin: 35px 0;
  letter-spacing: .5px;
}

.card__body {
  letter-spacing: .5px;
  line-height: 2;
  margin-bottom: 40px;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
}

.card__footer .btn {
  transition: transform 150ms;
  flex: 1;
}

.faq__section {
  padding: 100px 0 200px 0;
}

.faq__title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 35px;
  text-shadow: 1px 1px 1px #313a5885;
}

.faq__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.faq__card {
  display: inline-flex;
  flex-basis: 45%;
  margin-bottom: 60px;
}

.faq__text__group {
  margin-left: 20px;
}

.faq__card__title {
  margin-bottom: 20px;
}

.faq__card__body {
  max-width: 400px;
  line-height: 2;
}

.subscribe__wrapper {
  position: absolute;
  padding: 0 15px;
  width: 100%;
  top: -137px;
  left: 0;
}

.subscribe {
  padding: 40px 100px;
  height: 100%;
  border-radius: 15px;
  background-image: linear-gradient(to left, #30db87, #00b4a3, #00687b);
  box-shadow: 0 10px 30px -8px #10131f;
}

.subscribe__header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  letter-spacing: 1px;
  color: #fff;
}

.subscribe__title {
  flex: 1 1;
  font-size: 40px;
  font-weight: 600;
}

.subscribe__body {
  flex: 1.5 2;
  line-height: 2;
}

.subscribe__form {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.subscribe__input {
  margin-right: 30px;
  flex: 2;
  border: 0;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

.subscribe__input:focus {
  outline-color: var(--footer-bg);
}

.subscribe__form .btn {
  flex: 1;
  box-shadow: 0 10px 30px -8px #10131f;
}

.contact__section {
  display: flex;
  padding: 80px 0;
  letter-spacing: 1px;
}

.contact__item {
  display: flex;
}

.contact__img__container {
  flex-basis: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.contact__img {
  height: 100%;
  width: 100%;
}

.contact__info {
  margin-left: 20px;
}

.info__title {
  color: var(--info-primary);
  display: block;
  margin-bottom: 10px;
}

.info__body {
  color: var(--info-secondary);
}

.footer {
  background: var(--footer-bg);
}

.footer .container {
  position: relative;
  padding: 150px 15px 50px 15px;
}

.footer__nav__section {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.footer__description {
  flex: 2;
  padding: 30px 50px 30px 0;
}

.footer__nav {
  flex: 1;
  padding: 30px 50px 30px 0;
}

.footer__nav__title {
  color: var(--info-primary);
  margin-bottom: 35px;
  font-weight: 600;
  color: #f1aa3d;
}

.footer__nav__text {
  color: var(--info-primary);
  line-height: 2;
  max-width: 500px;
}

.footer__menu {
  list-style: none;
}

.footer__menu--link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 0;
  color: var(--info-primary);
}

.footer__copyrights {
  color: var(--info-primary);
}

.text-primary {
  color: var(--main-green);
}

.text-secondary {
  color: var(--main-green);
}



@media (max-width: 1177px) {
  .footer__description {
    flex-basis: 100vw;
    padding-right: 0;
  }

  .footer__nav {
    padding: 30px 0;
  }
}

@media (max-width: 1100px) {
  .card {
    padding: 50px 20px;
  }

  .card:nth-child(2) {
    margin: 0 1rem;
  }
}

@media (max-width: 967px) {
  .subscribe {
    padding: 30px;
  }

  .subscribe__body {
    flex: 2;
  }
}

@media (min-width: 900px) {
  .card__footer .btn:hover {
    transform: translateY(-2px);
  }
}

@media (max-width: 870px) {
  .section .container {
    flex-direction: column;
  }

  .card {
    padding: 40px;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
  }

  .card:nth-child(2) {
    margin: 0 0 2rem 0;
  }

  .card__title {
    flex-basis: 100%;
    order: -1;
    margin-top: 0;
  }

  .card__body {
    flex: 1;
  }

  .card__img__container {
    margin-right: 1rem;
  }

  .card__footer {
    flex-basis: 100%;
  }

  .card__footer .btn {
    flex: none;
  }

  .faq__cards__container {
    flex-direction: column;
    align-items: center;
  }

  .faq__card {
    flex: 1 0 auto;
  }

  .contact__section {
    flex-direction: column;
  }

  .contact__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  .nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
  }

  .nav__menu {
    display: block;
    padding-top: 10vh;
    background: var(--nav-bg);
  }

  .nav__menu .divider {
    display: block;
    margin: 15px 10px;
    background: var(--main-green);
  }

  .nav__menu__fill {
    flex: 1;
  }

  .nav__item {
    margin: 0;
  }

  .nav__item--hidden-md {
    display: block;
  }

  .nav__link {
    padding-left: 15px;
  }

  .nav--toggler {
    display: none;
  }

  .section {
    padding: 100px 0;
  }

  .subscribe__wrapper {
    top: -207px;
  }

  .subscribe__header {
    display: block;
  }

  .subscribe__title {
    flex-basis: 100%;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .subscribe__body {
    display: block;
  }

  .subscribe__form {
    flex-direction: column;
    padding: 20px 0 0 0;
  }

  .subscribe__input {
    margin: 0 0 20px 0;
  }

  .subscribe__form .btn {
    margin-top: 20px;
  }

  .contact__section {
    padding: 180px 0 30px 0;
  }

  .footer__description {
    flex-basis: 100vw;
  }
}

@media (max-width: 575px) {
  .main {
    height: calc(100vh - 75px);
  }

  .main__title {
    font-size: 35px;
    text-shadow: 1px 1px 1px #313a5885;
  }

  .main__body {
    margin-bottom: 40px;
  }

  .card {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .card__title {
    order: 0;
    margin: 20px;
  }

  .card__body {
    margin-bottom: 15px;
  }

  .card__img__container {
    margin: 0;
  }

  .card__footer {
  display: block;
  }

  .footer__nav__section {
    padding-top: 20px;
  }
}

@media (max-width: 539px) {
  .main .btn--group {
    justify-content: space-around;
  }

  .main .btn--primary {
    margin-right: 0px;
  }
}

@media (max-width: 539px) {
  .subscribe__wrapper {
    top: -223;
  }
}

@media (max-width: 404px) {
  .subscribe__wrapper {
    top: -239;
  }
}

.slide-in {
  animation: slide-in 0.4s ease-in-out both;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-600 {
  animation-delay: 600ms;
}

@keyframes slide-in {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
